*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html , body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    .nav-left{
        img{
            height: 2rem;
        }
    }
    .nav-right{
        a,button{
            display: none;
        }
        .icon{
            font-size: 1.5rem;
        }
    }
}

main{
    #sec1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        padding: 3.5rem 1rem;

        .section-top{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .top{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .bottom{
                width: 100%;
                text-align: center;
                h1{
                    font-size: 3rem;
                    padding: 0 2rem;
                }
            }
        }
        .section-bottom{
            width: 100%;
            text-align: center;
            h4{
                font-size: 2.2rem;
                font-weight: 100;
                margin:3rem 1rem;
            }

        }
    }

    #sec2{
        padding: 4.4rem 2.2rem;
        .cards{
            display: flex;
            flex-direction: column;
            gap:3rem;

            .card{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                border-top: 4px solid rgba(169, 168, 168, 0.374);
                h2{
                    padding-top: 2rem;
                }
                p{
                    font-size: 1.2rem;
                    margin-bottom: 2.5rem;
                    opacity: 0.7;
                }
                img{
                    width:100%;
                }
            }
        }
    }

    #sec3{
        padding: 4.4rem 0rem;
        .features{
            display: flex;
            flex-direction: column;

            .feature{
                display: flex;
                flex-direction: column;
                padding:3.2rem  2rem;

                .feature-top{
                    img{
                        width: 100%;
                        // margin-bottom: 3rem;
                    }
                }

                .feature-bottom{
                    display: flex;
                    flex-direction: column;
                    h3{
                    margin-bottom: 1.3rem;
                    opacity: 0.7;
                }
                h1{
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 1.2rem;
                    margin-bottom: 1.5rem;
                    width: 70%;
                }
                button{
                    width: fit-content;
                    padding:0.4rem 2rem;
                    margin-bottom: 1.2rem;
                    border-radius: 50px;
                    font-size: 0.9rem;
                    border: none;
                }
                }
            }
            .feature:nth-child(1){
                .buttons{
                    button:nth-child(1){
                        border: 1px solid #0468D7;
                        color: #0468D7;
                    }
                    button:nth-child(2){
                        background-color: transparent;
                    }
                }
            }
        }
    }
    #sec4{
        padding: 4.5rem 3.5rem;

        .text{
            padding:4rem 2rem;
            background-color: #06182cb3;
            border-radius: 1.5rem;
            color: white;

            h3{
                font-size:2rem;
                color: white;
                margin-bottom: 1.5rem;
            }
            p{
                font-size: 1.2rem;
                margin-bottom:2rem;
            }
            .buttons{
                display: flex;
                flex-direction: column;
                
                gap: 1rem;

                button{
                   width: fit-content;
                    border-radius:50px;
                    border: none;
                }
                button:nth-child(1){
                    padding: 0.4rem 1rem;
                    font-weight: 600;
                    background-color: white;
                    color: rgb(49, 60, 205);
                    
                }
                button:nth-child(2){
                    padding: 0.4rem 1rem;
                    background-color: transparent;
                }
            }
        }
    }
    #sec5{
        padding: 4.5rem 3.2rem;

        .footer{
            display: flex;
            flex-direction: column;

            .footer-top{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            justify-content: space-between;
            padding-bottom: 4.2rem;

            .footer-left{
                img{
                    height: 2rem;
                }
            }

            .footer-right{
                display: flex;
                flex-direction: column;
                gap: 2.8rem;

                .footer-links{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    ul{
                        list-style: none;
                        display: flex;
                        gap: 0.8rem;
                        flex-direction: column;
                    }
                }
            }
        }
        .footer-center{
            display: flex;
            justify-content: center;
            gap: 2rem;
            font-size: 1.2rem;
            padding: 2rem;
            border-bottom: 3px solid rgba(196, 183, 183, 0.536);
        }
        .footer-bottom{
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .bottom-top{
                text-align: center;
                p{
                    font-size:1.1rem;
                    font-weight: 100;
                }

                
            }

            .bottom-end{
                    ul{
                        display: flex;
                        justify-content: center;
                        gap: 2rem;
                        list-style: none;
                        li{
                            font-size: 1.1rem;
                            font-weight: 100;
                        }
                    }
                }
        }
      }
    }
}

@media(min-width:768px){
    nav{
        padding: 1rem 2rem;
        background-color: rgba(246, 248, 249, 0.949);
        box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.944);
        align-items: center;

    .nav-left{
        img{
            height: 2.2rem;
        }
    }
    .nav-right{
        display: flex;
        gap: 2rem;
        
        a{
            align-self: center;
            display:initial;
            text-decoration: none;
            color: black;
            font-weight: 550;
        }
        button{
            display: initial;
            padding: 0.8rem 1.8rem;
            font-weight: 600;
            color: white;
            background-color: #0468D7;
            border: none;
            border-radius: 50px;
        }
        .icon{
            display: none;
        }
    }
}

main{
    #sec1{
        gap: 2.5rem;
        padding: 3.5rem 4rem;


        .section-top{
            flex-direction:row-reverse;
            gap: 2.5rem;

            .top{
                img{
                    width: 100%;
                }
            }
            .bottom{
                h1{
                    font-size: 4.5rem;
                    padding: 0 2rem;
                    line-height: 1;
                }
            }
        }
        .section-bottom{
            h4{
                font-size: 2.2rem;
                margin:5rem 1rem 2rem 1rem;
            }

        }
    }

    #sec2{
        padding:5rem 3.5rem;
        .cards{
            width: 100%;
            display: flex;
            flex-direction:row;
            gap:2rem;

            .card{
                gap: 1.5rem;
                border-top: 4px solid rgba(169, 168, 168, 0.374);
                h2{
                    padding-top: 2rem;
                    font-size: 2rem;
                }
                p{
                    font-size: 1.2rem;
                    margin-bottom: 2.8rem;
                }
            }
        }
    }
    #sec3{
        padding:2rem 12rem;
        .features{

            .feature{
                display: flex;
                flex-direction:row-reverse;
                justify-content:space-between;
                align-items: center;
                padding:3.2rem  2rem;

                .feature-top{
                    width:90%;
                }

                .feature-bottom{
                    display: flex;
                    flex-direction: column;
                    h3{
                    margin-bottom: 1.3rem;
                    opacity: 0.7;
                }
                h1{
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 1.2rem;
                    margin-bottom: 1.5rem;
                    width: 70%;
                }
                button{
                    width: fit-content;
                    padding:0.4rem 2rem;
                    margin-bottom: 1.2rem;
                    border-radius: 50px;
                    font-size: 0.9rem;
                    border: none;
                }
                }
            }
            .feature:nth-child(1){
                .buttons{
                    button:nth-child(1){
                        border: 1px solid #0468D7;
                        color: #0468D7;
                    }
                    button:nth-child(2){
                        background-color: transparent;
                    }
                }
            }
        }
    }
    
    #sec4{
        padding: 4rem 10rem;
        

        .text{
            background-color: #08125d;
            padding:4rem 2rem;

            h3{
                font-size:2.8rem;
                
            }
            p{
                font-size: 1.3rem;
            }
            .buttons{
                display: flex;
                flex-direction:row;
                
                gap: 1.1rem;

                button:nth-child(1){
                    padding: 0.5rem 1.2rem;  
                }
                button:nth-child(2){
                    padding: 0.4rem 1rem;
                }
            }
        }
    }
    #sec5{
        padding: 4rem 10rem;

        .footer{
            display: flex;
            flex-direction:column;

            .footer-top{
            display: flex;
            flex-direction: row;
            gap: 2.5rem;
            justify-content: space-between;
            padding-bottom: 4.2rem;

            .footer-left{
                img{
                    height: 2rem;
                }
            }

            .footer-right{
                display: flex;
                flex-direction:row;
                gap: 2.8rem;

                .footer-links{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    ul{
                        list-style: none;
                        display: flex;
                        gap: 0.8rem;
                        flex-direction: column;
                    }
                }
            }
        }
        .footer-center{
            display: flex;
            justify-content: center;
            gap: 2rem;
            font-size: 1.2rem;
            padding: 2rem;
            border-bottom: 3px solid rgba(196, 183, 183, 0.536);
        }
        .footer-bottom{
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .bottom-top{
                text-align: center;
                p{
                    font-size:1.1rem;
                    font-weight: 100;
                }

                
            }

            .bottom-end{
                    ul{
                        display: flex;
                        justify-content: center;
                        gap: 2rem;
                        list-style: none;
                        li{
                            font-size: 1.1rem;
                            font-weight: 100;
                        }
                    }
                }
        }
      }
    }
}
}