* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
nav .nav-left img {
  height: 2rem;
}
nav .nav-right a, nav .nav-right button {
  display: none;
}
nav .nav-right .icon {
  font-size: 1.5rem;
}

main #sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 3.5rem 1rem;
}
main #sec1 .section-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main #sec1 .section-top .top {
  width: 100%;
}
main #sec1 .section-top .top img {
  width: 100%;
}
main #sec1 .section-top .bottom {
  width: 100%;
  text-align: center;
}
main #sec1 .section-top .bottom h1 {
  font-size: 3rem;
  padding: 0 2rem;
}
main #sec1 .section-bottom {
  width: 100%;
  text-align: center;
}
main #sec1 .section-bottom h4 {
  font-size: 2.2rem;
  font-weight: 100;
  margin: 3rem 1rem;
}
main #sec2 {
  padding: 4.4rem 2.2rem;
}
main #sec2 .cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main #sec2 .cards .card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-top: 4px solid rgba(169, 168, 168, 0.374);
}
main #sec2 .cards .card h2 {
  padding-top: 2rem;
}
main #sec2 .cards .card p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  opacity: 0.7;
}
main #sec2 .cards .card img {
  width: 100%;
}
main #sec3 {
  padding: 4.4rem 0rem;
}
main #sec3 .features {
  display: flex;
  flex-direction: column;
}
main #sec3 .features .feature {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 2rem;
}
main #sec3 .features .feature .feature-top img {
  width: 100%;
}
main #sec3 .features .feature .feature-bottom {
  display: flex;
  flex-direction: column;
}
main #sec3 .features .feature .feature-bottom h3 {
  margin-bottom: 1.3rem;
  opacity: 0.7;
}
main #sec3 .features .feature .feature-bottom h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
main #sec3 .features .feature .feature-bottom p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  width: 70%;
}
main #sec3 .features .feature .feature-bottom button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem 2rem;
  margin-bottom: 1.2rem;
  border-radius: 50px;
  font-size: 0.9rem;
  border: none;
}
main #sec3 .features .feature:nth-child(1) .buttons button:nth-child(1) {
  border: 1px solid #0468D7;
  color: #0468D7;
}
main #sec3 .features .feature:nth-child(1) .buttons button:nth-child(2) {
  background-color: transparent;
}
main #sec4 {
  padding: 4.5rem 3.5rem;
}
main #sec4 .text {
  padding: 4rem 2rem;
  background-color: rgba(6, 24, 44, 0.7019607843);
  border-radius: 1.5rem;
  color: white;
}
main #sec4 .text h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1.5rem;
}
main #sec4 .text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
main #sec4 .text .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #sec4 .text .buttons button {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  border: none;
}
main #sec4 .text .buttons button:nth-child(1) {
  padding: 0.4rem 1rem;
  font-weight: 600;
  background-color: white;
  color: rgb(49, 60, 205);
}
main #sec4 .text .buttons button:nth-child(2) {
  padding: 0.4rem 1rem;
  background-color: transparent;
}
main #sec5 {
  padding: 4.5rem 3.2rem;
}
main #sec5 .footer {
  display: flex;
  flex-direction: column;
}
main #sec5 .footer .footer-top {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  padding-bottom: 4.2rem;
}
main #sec5 .footer .footer-top .footer-left img {
  height: 2rem;
}
main #sec5 .footer .footer-top .footer-right {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
main #sec5 .footer .footer-top .footer-right .footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #sec5 .footer .footer-top .footer-right .footer-links ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
main #sec5 .footer .footer-center {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.2rem;
  padding: 2rem;
  border-bottom: 3px solid rgba(196, 183, 183, 0.536);
}
main #sec5 .footer .footer-bottom {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main #sec5 .footer .footer-bottom .bottom-top {
  text-align: center;
}
main #sec5 .footer .footer-bottom .bottom-top p {
  font-size: 1.1rem;
  font-weight: 100;
}
main #sec5 .footer .footer-bottom .bottom-end ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
main #sec5 .footer .footer-bottom .bottom-end ul li {
  font-size: 1.1rem;
  font-weight: 100;
}

@media (min-width: 768px) {
  nav {
    padding: 1rem 2rem;
    background-color: rgba(246, 248, 249, 0.949);
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.944);
    align-items: center;
  }
  nav .nav-left img {
    height: 2.2rem;
  }
  nav .nav-right {
    display: flex;
    gap: 2rem;
  }
  nav .nav-right a {
    align-self: center;
    display: initial;
    text-decoration: none;
    color: black;
    font-weight: 550;
  }
  nav .nav-right button {
    display: initial;
    padding: 0.8rem 1.8rem;
    font-weight: 600;
    color: white;
    background-color: #0468D7;
    border: none;
    border-radius: 50px;
  }
  nav .nav-right .icon {
    display: none;
  }
  main #sec1 {
    gap: 2.5rem;
    padding: 3.5rem 4rem;
  }
  main #sec1 .section-top {
    flex-direction: row-reverse;
    gap: 2.5rem;
  }
  main #sec1 .section-top .top img {
    width: 100%;
  }
  main #sec1 .section-top .bottom h1 {
    font-size: 4.5rem;
    padding: 0 2rem;
    line-height: 1;
  }
  main #sec1 .section-bottom h4 {
    font-size: 2.2rem;
    margin: 5rem 1rem 2rem 1rem;
  }
  main #sec2 {
    padding: 5rem 3.5rem;
  }
  main #sec2 .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  main #sec2 .cards .card {
    gap: 1.5rem;
    border-top: 4px solid rgba(169, 168, 168, 0.374);
  }
  main #sec2 .cards .card h2 {
    padding-top: 2rem;
    font-size: 2rem;
  }
  main #sec2 .cards .card p {
    font-size: 1.2rem;
    margin-bottom: 2.8rem;
  }
  main #sec3 {
    padding: 2rem 12rem;
  }
  main #sec3 .features .feature {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 2rem;
  }
  main #sec3 .features .feature .feature-top {
    width: 90%;
  }
  main #sec3 .features .feature .feature-bottom {
    display: flex;
    flex-direction: column;
  }
  main #sec3 .features .feature .feature-bottom h3 {
    margin-bottom: 1.3rem;
    opacity: 0.7;
  }
  main #sec3 .features .feature .feature-bottom h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  main #sec3 .features .feature .feature-bottom p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    width: 70%;
  }
  main #sec3 .features .feature .feature-bottom button {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.4rem 2rem;
    margin-bottom: 1.2rem;
    border-radius: 50px;
    font-size: 0.9rem;
    border: none;
  }
  main #sec3 .features .feature:nth-child(1) .buttons button:nth-child(1) {
    border: 1px solid #0468D7;
    color: #0468D7;
  }
  main #sec3 .features .feature:nth-child(1) .buttons button:nth-child(2) {
    background-color: transparent;
  }
  main #sec4 {
    padding: 4rem 10rem;
    background: linear-gradient(#fcfce4, #f5fbfe);
  }
  main #sec4 .text {
    padding: 4rem 2rem;
  }
  main #sec4 .text h3 {
    font-size: 2.8rem;
  }
  main #sec4 .text p {
    font-size: 1.3rem;
  }
  main #sec4 .text .buttons {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
  }
  main #sec4 .text .buttons button:nth-child(1) {
    padding: 0.5rem 1.2rem;
  }
  main #sec4 .text .buttons button:nth-child(2) {
    padding: 0.4rem 1rem;
  }
  main #sec5 {
    padding: 4rem 10rem;
  }
  main #sec5 .footer {
    display: flex;
    flex-direction: column;
  }
  main #sec5 .footer .footer-top {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-between;
    padding-bottom: 4.2rem;
  }
  main #sec5 .footer .footer-top .footer-left img {
    height: 2rem;
  }
  main #sec5 .footer .footer-top .footer-right {
    display: flex;
    flex-direction: row;
    gap: 2.8rem;
  }
  main #sec5 .footer .footer-top .footer-right .footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  main #sec5 .footer .footer-top .footer-right .footer-links ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
  }
  main #sec5 .footer .footer-center {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.2rem;
    padding: 2rem;
    border-bottom: 3px solid rgba(196, 183, 183, 0.536);
  }
  main #sec5 .footer .footer-bottom {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  main #sec5 .footer .footer-bottom .bottom-top {
    text-align: center;
  }
  main #sec5 .footer .footer-bottom .bottom-top p {
    font-size: 1.1rem;
    font-weight: 100;
  }
  main #sec5 .footer .footer-bottom .bottom-end ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }
  main #sec5 .footer .footer-bottom .bottom-end ul li {
    font-size: 1.1rem;
    font-weight: 100;
  }
}